NODE_ENV=development
VITE_PORT=5000

## SMART on FHIR Configuration
VITE_SMART_REDIRECT_URI=https://localhost:5000/launch-callback

## Epic Configuration
VITE_EPIC_CLIENT_ID=your-client-id
VITE_EPIC_CLIENT_SECRET=your-client-secret
VITE_EPIC_SCOPE=launch/patient patient/*.read
VITE_EPIC_ISS=https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4
VITE_EPIC_RESPONSE_TYPE=code
VITE_EPIC_PKCE_ENABLED=true

## Cerner Configuration
VITE_CERNER_CLIENT_ID=your-client-id
VITE_CERNER_CLIENT_SECRET=your-client-secret
VITE_CERNER_SCOPE=launch/patient patient/*.read
VITE_CERNER_ISS=https://fhir-open.cerner.com/r4/ec2458f2-1e24-41c8-b71b-0e701af7583d
VITE_CERNER_RESPONSE_TYPE=code
VITE_CERNER_PKCE_ENABLED=true
